<md-sidenav-container id="page-sidenav">
  <md-toolbar color="primary">
    <button md-mini-fab color="primary" (click)="openSidenav()" class="page-sidenav-button">
      <md-icon>menu</md-icon>
    </button>
    <span><button md-button routerLink="/" color="primary-contrast" class="go-home-button">Viktor Fitness</button></span>
  </md-toolbar>
  <md-sidenav #sidenav mode="push" opened="false">
    <md-list>
      <md-list-item *ngIf="!authentication.isAuthenticated()">
        <a md-button (click)="navigate('/login')" class="login-button">Login</a>
      </md-list-item>
      <md-list-item *ngIf="authentication.isAuthenticated()">
        <a md-button (click)="logout()" class="logout-button">Logout</a>
      </md-list-item>
      <div *ngIf="authentication.isAuthenticated()">
        <md-divider></md-divider>
        <h3 md-subheader>Body Size Measurement</h3>
        <md-list-item>
          <h4 class="md-line"></h4>
          <a md-button (click)="navigate('/body-size-measurement/add/new')" class="bsm-add-button">Add</a>
        </md-list-item>
        <md-list-item>
          <h4 class="md-line"></h4>
          <a md-button (click)="navigate('/body-size-measurement/list')" class="bsm-list-button">Table</a>
        </md-list-item>
        <md-list-item>
          <h4 class="md-line"></h4>
          <a md-button (click)="navigate('/body-size-measurement/chart')" class="bsm-chart-button">Charts</a>
        </md-list-item>
      </div>
    </md-list>
    <md-card *ngIf="!authentication.isAuthenticated()">
      <md-card-content>
        There is a test user to test the functionality. Login the system, follow on the button. <a md-raised-button (click)="navigate('/login')">Login</a>
      </md-card-content>
    </md-card>
  </md-sidenav>
  <!--<router-outlet></router-outlet>--> ROuter outlet
</md-sidenav-container>
